VITE_APP_NAME=Type & English
VITE_FRONTEND_URL=https://typing-learner.com
VITE_CONTACT_EMAIL=lehuyphuong.work@gmail.com
VITE_ZALO_PHONE=0123456789
VITE_FACEBOOK_USERNAME=username

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
